
AccordionHeader
{
	skin: Embed(skinClass="AccordionHeader_skin");
}
Application 
{
    background-size:"100%"; 
	backgroundColor: #FFFFFF;
	disabledColor: #FFFFFF;
	themeColor: #6699CC;
}
Button
{
	skin: Embed(skinClass="Button_skin");
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
}
ButtonBar
{
	buttonStyleName: "buttonBarButton";
	firstButtonStyleName: "buttonBarFirstButton";
	lastButtonStyleName: "buttonBarLastButton";
	color: #FFFFFF;
}
.buttonBarButton
{
	skin: Embed(skinClass="ButtonBar$button_skin");
}
.buttonBarFirstButton
{
	skin: Embed(skinClass="ButtonBar$firstButton_skin");
}
.buttonBarLastButton
{
	skin: Embed(skinClass="ButtonBar$lastButton_skin");
}
CheckBox
{
	icon: Embed(skinClass="CheckBox_icon");
	color: #333333;
	textRollOverColor: #333333;
	textSelectedColor: #333333;
}
ColorPicker
{
	skin: Embed(skinClass="ColorPicker_skin");
}
ComboBox
{
	editableUpSkin: Embed(skinClass="ComboBox_editableUpSkin");
	skin: Embed(skinClass="ComboBox_skin");
	color: #FFFFFF;
	dropDownStyleName: "ComboBoxDropDown";
	editableDisabledSkin: Embed(skinClass="ComboBox_editableDisabledSkin");
	editableDownSkin: Embed(skinClass="ComboBox_editableDownSkin");
	editableOverSkin: Embed(skinClass="ComboBox_editableOverSkin");
}
.ComboBoxDropDown
{
	cornerRadius: 6;
	backgroundAlpha: 0.75;
}
CursorManager
{
	busyCursor: Embed(skinClass="CursorManager_busyCursor");
}
DataGrid
{
	columnDropIndicatorSkin: Embed(skinClass="DataGrid_columnDropIndicatorSkin");
	columnResizeSkin: Embed(skinClass="DataGrid_columnResizeSkin");
	headerBackgroundSkin: Embed(skinClass="DataGrid_headerBackgroundSkin");
	headerSeparatorSkin: Embed(skinClass="DataGrid_headerSeparatorSkin");
	stretchCursor: Embed(skinClass="DataGrid_stretchCursor");
	color: #000000;
	backgroundAlpha: 0.5;
    verticalGridLines: true;
    verticalGridLineColor: #2d5986;
    rollOverColor: #6699cc;
    textRollOverColor: #ffffff;
    borderColor: #2d5986;
    selectionColor: #2d5986;
    textSelectedColor: #ffffff;
	headerStyleName: "DataGridHeaderStyle";
}
.DataGridHeaderStyle {
   color: #FFFFFF;
   fontWeight: bold;
}

DateChooser
{
	nextMonthSkin: Embed(skinClass="DateChooser_nextMonthSkin");
	nextYearSkin: Embed(skinClass="DateChooser_nextYearSkin");
	prevMonthSkin: Embed(skinClass="DateChooser_prevMonthSkin");
	prevYearSkin: Embed(skinClass="DateChooser_prevYearSkin");
	headerColors: #6C9DCE, #224466;
   	rollOverColor: #EEEEEE;
   	selectionColor: #6699cc;
   	todayColor: #2d5986;
   	borderColor: #2d5986;
   	backgroundColor: #FFFFFF;
   	dropShadowEnabled: true;
   	headerStyleName: "DateChooserHeaderStyle";
}
.DateChooserHeaderStyle
{
	color: #FFFFFF;
	fontWeight: "bold";	
}
DateField
{
	skin: Embed(skinClass="DateField_skin");
}
DragManager
{
	copyCursor: Embed(skinClass="DragManager_copyCursor");
	defaultDragImageSkin: Embed(skinClass="DragManager_defaultDragImageSkin");
	linkCursor: Embed(skinClass="DragManager_linkCursor");
	moveCursor: Embed(skinClass="DragManager_moveCursor");
	rejectCursor: Embed(skinClass="DragManager_rejectCursor");
}
FormItem
{
	indicatorSkin: Embed(skinClass="FormItem_indicatorSkin");
}
HScrollBar
{
	downArrowSkin: Embed(skinClass="HScrollBar_downArrowSkin");
	thumbIcon: Embed(skinClass="HScrollBar_thumbIcon");
	thumbSkin: Embed(skinClass="HScrollBar_thumbSkin");
	trackSkin: Embed(skinClass="HScrollBar_trackSkin");
	upArrowSkin: Embed(skinClass="HScrollBar_upArrowSkin");
}
Label
{
	color: #000000;	
}
LinkBar
{
	disabledColor: #777777;	
}
LinkButton
{
	color: #000000;
	skin: Embed(skinClass="LinkButton_skin");
}
List
{
	backgroundAlpha: 0.3;
	cornerRadius: 6;
	borderColor: #2D5986;
	color: #333333;
	selectionColor: #2D5986;
	textSelectedColor: #FFFFFF;
	rollOverColor: #6699CC;
	textRollOverColor: #FFFFFF;
}
Menu
{
	branchDisabledIcon: Embed(skinClass="Menu_branchDisabledIcon");
	branchIcon: Embed(skinClass="Menu_branchIcon");
	checkDisabledIcon: Embed(skinClass="Menu_checkDisabledIcon");
	checkIcon: Embed(skinClass="Menu_checkIcon");
	radioDisabledIcon: Embed(skinClass="Menu_radioDisabledIcon");
	radioIcon: Embed(skinClass="Menu_radioIcon");
	separatorSkin: Embed(skinClass="Menu_separatorSkin");
	backgroundAlpha: 0.8;
	backgroundColor: #FFFFFF;
}
MenuBar
{
	backgroundSkin: Embed(skinClass="MenuBar_backgroundSkin");
	itemDownSkin: Embed(skinClass="MenuBar_itemDownSkin");
	itemOverSkin: Embed(skinClass="MenuBar_itemOverSkin");
	itemUpSkin: Embed(skinClass="MenuBar_itemUpSkin");
}
NumericStepper
{
	downArrowSkin: Embed(skinClass="NumericStepper_downArrowSkin");
	upArrowSkin: Embed(skinClass="NumericStepper_upArrowSkin");
	focusRoundedCorners: ""
}
Panel
{
	borderSkin: Embed(skinClass="Panel_borderSkin");
	closeButtonSkin: Embed(skinClass="Panel_closeButtonSkin");
	controlBarBackgroundSkin: Embed(skinClass="Panel_controlBarBackgroundSkin");
	titleStyleName: "PanelTitleStyle";
}
.PanelTitleStyle
{
	color: #FFFFFF;
	fontWeight: "bold";	
}
PopUpButton, PopUpMenuButton
{
	popUpIcon: Embed(skinClass="PopUpButton_popUpIcon");
	skin: Embed(skinClass="PopUpButton_skin");
}
ProgressBar
{
	barSkin: Embed(skinClass="ProgressBar_barSkin");
	indeterminateSkin: Embed(skinClass="ProgressBar_indeterminateSkin");
	trackSkin: Embed(skinClass="ProgressBar_trackSkin");
	color: #000000;
}
RadioButton
{
	icon: Embed(skinClass="RadioButton_icon");
	color: #333333;
	textRollOverColor: #333333;
	textSelectedColor: #333333;
	
}
Slider, HSlider, VSlider
{
	thumbSkin: Embed(skinClass="Slider_thumbSkin");
	trackHighlightSkin: Embed(skinClass="Slider_trackHighlightSkin");
	trackSkin: Embed(skinClass="Slider_trackSkin");
}
SWFLoader
{
	brokenImageSkin: Embed(skinClass="SWFLoader_brokenImageSkin");
}
TabBar
{
	tabStyleName: "tabBarTab";
	firstTabStyleName: "tabBarTab";
	lastTabStyleName: "tabBarTab";
}
.tabBarTab
{
	skin: Embed(skinClass="TabBar$tab_skin");
}
TextArea
{
	borderSkin: Embed(skinClass="TextArea_borderSkin");
	color: #000000;
}
TextInput
{
	borderSkin: Embed(skinClass="TextInput_borderSkin");
	color: #000000;
}
ToolTip
{
	backgroundnotexported: Embed(skinClass="ToolTip_backgroundnotexported");
	borderSkin: Embed(skinClass="ToolTip_borderSkin");
	color: #FFFFFF;
}
Tree
{
	defaultLeafIcon: Embed(skinClass="Tree_defaultLeafIcon");
	disclosureClosedIcon: Embed(skinClass="Tree_disclosureClosedIcon");
	disclosureOpenIcon: Embed(skinClass="Tree_disclosureOpenIcon");
	folderClosedIcon: Embed(skinClass="Tree_folderClosedIcon");
	folderOpenIcon: Embed(skinClass="Tree_folderOpenIcon");
}
VScrollBar
{
	downArrowSkin: Embed(skinClass="VScrollBar_downArrowSkin");
	thumbIcon: Embed(skinClass="VScrollBar_thumbIcon");
	thumbSkin: Embed(skinClass="VScrollBar_thumbSkin");
	trackSkin: Embed(skinClass="VScrollBar_trackSkin");
	upArrowSkin: Embed(skinClass="VScrollBar_upArrowSkin");
}
DividedBox, VDividedBox, HDividedBox
{
	horizontalCursor: Embed(skinClass="DividedBox_horizontalCursor");
	verticalCursor: Embed(skinClass="DividedBox_verticalCursor");
	dividerSkin: Embed(skinClass="DividedBox_dividerSkin");
}